body {
    display: grid;
    grid-template-rows: repeat(7, auto);
    padding-left: 60px;
    padding-right: 60px;
    background-color: #F5F5F5;
}


/* Header */
.encabezado {
    display: flex;
    justify-content: space-between;
}


.titulo1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 0.9;
}

.titulo1 h1 {
    margin-bottom: 0px;
    margin-top: 60px;
    font-size: 3.6rem;
}

.titulo1 span {
    font-weight: 100;
    color: rgb(151, 151, 151);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 350;
}

.titulo2 p {
    margin-top: 0px;
    padding-left: 4px;
    font-size: 0.9rem;
    color: rgb(82, 81, 81);
}

.cart input {
    height: 22px;
    width: 200px;
}

.cart {
    display: flex;
    align-items: center;
    padding-top: 70px;
}

.cart button {
    padding: 5px;
    background-color: #F5F5F5;
    border-color: white;
    cursor: pointer;
}

.cart p {
    background-color: black;
    color: white;
    padding: 8px;
    cursor: pointer;
    font-size: 1.05vw;
    transition: transform 0.2s ease-in-out;
    margin-left: 20px;
}

.cart p:active {
    transform: scale(0.9);
    box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.2);
}

.iconsCart i {
    padding: 0 5px 0 5px;
}


/* Menu */
.menu {
    display: flex;
    justify-content: start;
    background-color: white;
    padding-left: 34px;
    border-bottom: 3px solid #F5F5F5;
    padding-top: 0px;
    padding-bottom: 0%;
    height: 95%;
}

.menu-toggle {
    display: none;
}

.menu h4 {
    padding: 10px;
    font-size: 1.09rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    margin: 6px 0 6px 0;
    transition: transform 0.3s ease-in-out;
}

.menu h4:hover {
    background-color: black;
    color: white;
}

.menu h4:active {
    transform: scale(0.91);
    box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.2);
}


/* Principal Banner */
.banners {
    display: flex;
    padding: 0 35px 0 35px;
    background-color: white;
    height: 75vh;
    gap: 0.9%;
    padding-top: 30px;
}

.banners h1 {
    color: white;
    font-size: 2rem;
    font-weight: 340;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.banners span {
    font-size: 3.5rem;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 0.8;
}

.primerBanner {
    width: 68%;
    height: 90%;
    background-image: url('https://cdn.glitch.global/4c46cef8-6e9c-4ebc-80b4-5ceb24089ee9/Modelo%20Principal%20Sin%20Fondo.png?v=1744223345988');
    background-color: #555148;
    background-size: contain;
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: right top;
    border: 2px solid black;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    aspect-ratio: 4 / 3;
}

.primerBanner:active {
    transform: scale(1.02);
}

.primerBanner h1 {
    padding-left: 14%;
    padding-top: 22vh;
    font-size: 2.5rem;
}

.primerBanner span {
    font-size: 4rem;
}

.segundoBanner {
    background-image: url('https://cdn.glitch.global/4c46cef8-6e9c-4ebc-80b4-5ceb24089ee9/New%20Arrivals.avif?v=1743400822450');
    background-size: 115%;
    background-repeat: no-repeat;
    background-position: top right;
    background-color: #edebec;
    height: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 10%;
    border: 2px solid black;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    aspect-ratio: 4 / 3;
}

.segundoBanner:active {
    transform: scale(1.02);
}

.segundoBanner h1 {
    color: black;
}

.segundoBanner p {
    width: 58%;
}

.tercerBanner {
    background-image: url('https://cdn.glitch.global/4c46cef8-6e9c-4ebc-80b4-5ceb24089ee9/Big%20Clearance%20sin%20Fondo.png?v=1745285496751');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: top left;
    background-color: #626053;
    height: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: right;
    padding-right: 10%;
    border: 2px solid black;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    aspect-ratio: 4 / 3;
}

.tercerBanner:active {
    transform: scale(1.02);
}

.tercerBanner p {
    color: white;
    align-self: flex-start;
    padding-left: 10%;
}

.separateBanners {
    display: flex;
    flex-direction: column;
    gap: 2%;
    width: 32%;
    height: 91%;
}

.separateBanners h1 {
    margin-top: 0px;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
}

.separateBanners p {
    font-size: 0.8rem;
}


/* New Products Section */
.newProductsSection {
    background-color: white;
    margin-top: 0px;
}

.newProductsSection h4 {
    font-size: 1.5rem;
    margin: 0 0 30px 34px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.productosNuevos {
    display: grid;
    flex-direction: column;
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
    width: 94.2%;
    gap: 35px;
    margin: 0 auto;
    height: fit-content;
}

.productosNuevos img {
    width: 100%;
    height: 70%;
    background-color: #F7F7F7
}

.productosNuevos img:hover {
    transform: scale(1.02);
    transition: all 0.3s ease;
    cursor: pointer;
}

.productosNuevos img:active {
    transform: scale(0.99);
}

.productosNuevos h4 {
    padding-left: 0px;
    margin: 10px 0 10px 0;
    font-weight: 100;
    font-size: 1.10rem;
    opacity: 0.8;
}

.productosNuevos p {
    padding-left: 30px;
    width: 80%;
}

.productosNuevos p:hover {
    cursor: pointer;
    transition: all 0.3s ease;
    color: firebrick;
}

.productosNuevos p:active {
    transform: scale(0.99);
    opacity: 0.4;
}

.productosNuevos button {
    background-color: black;
    color: white;
    padding: 7px;
    font-family:sans-serif;
    cursor: pointer;
}

.productosNuevos button:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
    background-color: white;
    color: black;
}

.productosNuevos button:active {
    transform: scale(0.95);
}


/* Special Products Section */
.specialProductsSection {
    background-color: white;
    margin-top: 0px;
}

.specialProductsSection h4 {
    font-size: 1.5rem;
    margin: 20px 0 30px 34px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 10px;
}

.productosEspeciales {
    display: grid;
    flex-direction: column;
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
    width: 95%;
    gap: 35px;
    margin: 0 auto;
    height: fit-content;
}

.productosEspeciales img {
    width: 100%;
    height: 65%;
    background-color: #F7F7F7
}

.productosEspeciales img:hover {
    transform: scale(1.02);
    transition: all 0.3s ease;
    cursor: pointer;
}

.productosEspeciales img:active {
    transform: scale(0.99);
}

.productosEspeciales h4 {
    padding-left: 0%;
    margin: 10px 0 10px 0;
    font-weight: 100;
    font-size: 1.10rem;
    opacity: 0.8;
}

.productosEspeciales p {
    padding-left: 30px;
    width: 80%;
}

.productosEspeciales p:hover {
    cursor: pointer;
    transition: all 0.3s ease;
    color: firebrick;
}

.productosEspeciales p:active {
    transform: scale(0.99);
    opacity: 0.4;
}

.productosEspeciales button {
    background-color: black;
    color: white;
    padding: 7px;
    font-family:sans-serif;
    cursor: pointer;
}

.productosEspeciales button:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
    background-color: white;
    color: black;
}

.productosEspeciales button:active {
    transform: scale(0.95);
}


/* Categories Section */
.categorias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding-top: 40px;
    padding-left: 25px;
    padding-right: 25px;
    height: 40vh;
    background-color: white;
}

.categorias h1 {
    font-size: 3rem;
    padding-left: 33px;
    margin-top: 10px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 340;
}

.categorias span {
    font-size: 2rem;
    display: block;
    line-height: 0.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.categorias p {
    font-size: 0.8rem;
    padding-left: 33px;
    padding-bottom: 10px;
    color: white;
}

.primeraCategoria {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 96%;
    height: 80%;
    background-image: url('https://cdn.glitch.global/4c46cef8-6e9c-4ebc-80b4-5ceb24089ee9/Coats%20and%20Jackets.webp?v=1743400882815');
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: top right;
    background-color: #e2e6e9;
    border: 2px solid black;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.primeraCategoria:hover {
    transform: scale(1.01);
}

.primeraCategoria:active {
    transform: scale(1.02);
}

.segundaCategoria {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 96%;
    height: 80%;
    background-image: url('https://cdn.glitch.global/4c46cef8-6e9c-4ebc-80b4-5ceb24089ee9/Sports%20Jackets.webp?v=1743400879947');
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: top right;
    background-color: #aba29b;
    border: 2px solid black;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.segundaCategoria:hover {
    transform: scale(1.01);
}

.segundaCategoria:active {
    transform: scale(1.02);
}

.terceraCategoria {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 96%;
    height: 80%;
    background-image: url('https://cdn.glitch.global/4c46cef8-6e9c-4ebc-80b4-5ceb24089ee9/Suits%20%26%20Blazers%20sin%20Fondo.png?v=1745290022392');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: top right;
    background-color: #46454a;
    border: 2px solid black;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.terceraCategoria:hover {
    transform: scale(1.01);
}

.terceraCategoria:active {
    transform: scale(1.02);
}


/* footer */
.pieDePagina {
    display: grid;
    grid-template-columns: 15% 18% 24% auto;
    background-color: white;
    padding-left: 38px;
}

.pieDePagina h4 {
    font-size: 0.95rem;
}

.pieDePagina p {
    font-size: 0.85rem;
    cursor: pointer;
}

.pieDePagina p:active {
    transform: scale(1.05);
}

.contacts b {
    font-size: 1.2rem
}

.contacts i {
    padding-right: 5px;
    font-size: 18px;
}



/* ----------------------------------------------------------------------------------------- */

@media (max-width: 1024px) {

}

@media (max-width: 768px) {
    body {
        display: grid;
        grid-template-rows: auto auto auto auto auto auto auto;
        margin: 0%;
        padding-left: 0px;
        padding-right: 0px;
    }


    /* Header */
    .encabezado {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .titulo1 h1 {
        margin: 50px 0 0 50px;
        font-size: 5.7rem;
    }

    .titulo2 p {
        margin: 0px 50px;
        font-size: 1.5rem;
    }

    .cart {
        padding-left: 50px;
    }

    .cart p {
       font-size: 20px;
    }

    .cart input {
        width: 40%;
        height: 25px;
    }

    .cart button {
        padding: 6.4px;
    }


    /* Menu */
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
    }

    .menu-toggle {
        display: block;
        height: 50px;
        width: 99.5%;
        padding: 0%;
    }


    /* Principal Banner */
    .banners {
        display: flex;
        flex-direction: column;
        width: 99%;
        height: auto;
        padding: 0%;
        gap: 0%;
    }

    .primerBanner {
        width: 100%;
        height: 40vh;
        border: 0%;
    }

    .primerBanner h1 {
        padding-top: 30%;
    }

    .primerBanner span {
        font-size: 150%;
    }

    .segundoBanner {
        width: 100%;
        height: 40vh;
        border: 0%;
    }

    .tercerBanner {
        width: 100%;
        height: 40vh;
        border: 0%;
    }

    .separateBanners {
        width: 91%;
        gap: 0%;
    }

    .separateBanners h1 {
        margin-bottom: 0%;
    }

    .separateBanners p {
        padding-left: 10%;
    }

    /* New Products Section */
    .newProductsSection h4 {
        display: flex;
        justify-content: center;
        font-size: 30px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        text-transform: uppercase;
    }

    .productosNuevos {
        display: block;
        width: 75%;
    }

    .productosNuevos img {
        width: 80%;
        margin-top: 30px;
    }


    /* Special Products Section */
    .specialProductsSection h4 {
        display: flex;
        justify-content: center;
        font-size: 30px;
        padding-top: 20px;
        padding-bottom: 0px;
        margin-bottom: 0%;
        text-transform: uppercase;
    }

    .productosEspeciales {
        display: block;
        width: 75%;
    }

    .productosEspeciales img {
        width: 80%;
        margin-top: 30px;
    }


    /* Categories Section */
    .categorias {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
        height: 750px;
    }

    .primeraCategoria {
        height: 100%;
        width: 100%;
    }

    .segundaCategoria {
        height: 100%;
        width: 100%;
    }

    .terceraCategoria {
        height: 100%;
        width: 100%;
    }

    /* footer */
    .pieDePagina {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-top: 8px;
    }

    .contacts {
        width: 100%
    }

    .pieDePagina h4 {
        font-size: 70%;
    }
    
    .pieDePagina p {
        font-size: 40%;
    }

    .contacts i {
        font-size: 10px;
    }
}