body, h3, ul, li, button {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body {
	background-color: #20232a;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding: 20px;
}

.contenedor {
	display: grid;
	grid-template-columns: 2fr 1fr; 
	gap: 20px;
	max-width: 1200px;
	width: 100%;
}

.contenedor-conciertos {
	display: grid;
	grid-template-columns: repeat(3, 1fr); 
	gap: 15px;
}

.card {
    background-size: cover;
    background-position: center;
	border-radius: 8px;
	padding: 15px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	text-align: right;
	height: 150px;
}

.card .textos h3 {
	font-size: 1.2em;
	font-weight: 700;
}

.card .textos p {
	font-size: 0.9em;
	font-weight: 400;
	color: #bbb;
    display: flex;
	justify-content: flex-end;
    align-items: flex-start ;
}

.banner {
    background-size: cover;
    background-position: center;
	border-radius: 8px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.banner h3 {
	font-size: 1.5em;
	margin-bottom: 20px;
}

.banner ul {
	list-style: none;
	margin-bottom: 20px;
}

.banner ul li {
	margin-bottom: 5px;
	font-size: 1em;
}

.boton {
	background-color: #ffcc00;
	color: #000;
	border: none;
	border-radius: 120px;
	padding: 9px 100px;
	font-size: 1em;
    font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s;
}

.boton:hover {
	background-color: #e6b800;
}
